<div class="r-toolbar">
  <div class="flex align-items-center">
    <div class="input-box flex-1">
      <m-calendarSearch [(ngModel)]="rangeDates" (onSearch)="onFilterChange()"></m-calendarSearch>
      <!-- <div class="item align-items-center">
        <m-lazyDropdown class="w-full" styleClass="w-full" placeholder="Lọc theo chuyên đề" [size]="34"
          [options]="topic.opts" [(ngModel)]="topicId" (onLazyLoad)="filterTopic($event)"
          [valueInitLabel]="topic.name" (onSelect)="selectTopic($event)"></m-lazyDropdown>
      </div>

    </div>
    <div class="flex buttom-box">
      <p-divider layout="vertical" styleClass="p-0"></p-divider>
      <button class="bg-none b-none" (click)="onFilterChange()" pButton> <i class="bi bi-search text-xl"></i></button>
    </div> -->
    </div>
  </div>