::ng-deep .report-chart .p-card-title {
    color: #52347f;
}

::ng-deep {
    .btn-chart-download .p-button {
        background-color: #fff!important;
        color: #52347f!important;
        border: none!important;
    
    }

    pie-chart .report-chart .p-card-body {
        min-height: 435px;
    }
}