<div class="custom-header">
  <h2 class="title">Thay đổi mật khẩu</h2>
  <span class="close">
    <a class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23">
        <title>icon_close</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <line class="cls-1" x1="1.5" y1="1.5" x2="21.5" y2="21.5" />
            <line class="cls-1" x1="21.5" y1="1.5" x2="1.5" y2="21.5" />
          </g>
        </g>
      </svg>
    </a>
  </span>
</div>

<div class="custom-body topic-create">
  <form [formGroup]="passwordForm!" [autocomplete]="'off'">
    <div class="p-fluid ml-2">
      <div class="field mb-3">
        <div class="mb-2">
          <label for="password" class="p-text-bold mb-2">Mật khẩu cũ <span class="p-error">*</span></label>
        </div>
        <p-password id="password" type="password" formControlName="password"
          styleClass="inputfield w-full fix-style-pass" [toggleMask]="true"></p-password>
        <small class="p-error" *ngIf="password.errors && (password.dirty || password.touched ) ">
          <small *ngIf="password.errors['required']" class="block">Mật khẩu cũ không được để trống</small>
          <small *ngIf="password.errors['minLength']" class="block">Mật khẩu cũ không được dưới 6 ký tự</small>
          <small *ngIf="password.errors['maxLength']" class="block">Mật khẩu cũ không được vượt quá 64 ký tự</small>
          <small *ngIf="password.errors['pattern']" class="block">Mật khẩu không được bắt đầu hoặc kết thúc bằng khoảng trống</small>
        </small>
      </div>
      <div class="field mb-3">
        <div class="mb-2">
          <label for="passwordNew" class="p-text-bold mb-2">Mật khẩu mới <span class="p-error">*</span></label>
        </div>
        <p-password id="passwordNew" type="password" formControlName="passwordNew"
          styleClass="inputfield w-full fix-style-pass" [toggleMask]="true"
          (ngModelChange)="onChangePass()"></p-password>
        <span class="p-error" *ngIf="passwordNew.errors && (passwordNew.dirty || passwordNew.touched ) ">
          <small *ngIf="passwordNew.errors['required']" class="block">Mật khẩu mới không được để trống</small>
          <small *ngIf="passwordNew.errors['minLength']" class="block">Mật khẩu mới không được dưới 6 ký tự</small>
          <small *ngIf="passwordNew.errors['maxLength']" class="block">Mật khẩu mới không được vượt quá 64 ký tự</small>
          <small *ngIf="passwordNew.errors['pattern']" class="block">Mật khẩu không được bắt đầu hoặc kết thúc bằng khoảng
            trống</small>
        </span>
      </div>
      <div class="field mb-3">
        <div class="mb-2">
          <label for="confirmPassword" class="p-text-bold mb-2">Nhập lại mật khẩu
            <span class="p-error">*</span>
          </label>
        </div>
        <p-password id="confirmPassword" type="password" formControlName="confirmPassword"
          styleClass="inputfield w-full fix-style-pass" [toggleMask]="true"></p-password>
        <span class="p-error" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched ) ">
          <small *ngIf="confirmPassword.errors['required'] || confirmPassword.errors['mustMatch']">Nhập lại mật khẩu
            không khớp</small>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="custom-footer">
  <p-button label="Hủy" icon="pi pi-times" styleClass="btn-footer gray" (onClick)="close()"></p-button>
  <p-button label="Lưu" icon="pi pi-save" styleClass="btn-footer blue" (onClick)="save()"
    [disabled]="passwordForm!.invalid"></p-button>
</div>