<app-dialog-header>
  {{title}}
</app-dialog-header>
<app-dialog-content>
  <form [formGroup]="mutation!" autocomplete="off" role="presentation">
    <div class="p-fluid p-05 pt-0">
      <div class="grid mt-3">
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <p-button icon="pi {{typePass === 'password' ? 'pi-eye' : 'pi-eye-slash'}}" (onClick)="toggleMaskPass()"
              class="mark-pass"></p-button>
            <input id="password" role="presentation" autocomplete="new-password" type="{{typePass}}" pInputText
              formControlName="password" class="pr-5" (ngModelChange)="onChangePass()">
            <label for="password">
              Mật khẩu
              <span class="p-error">*</span>
            </label>
          </span>
          <span class="p-error" *ngIf="password.errors && (password.dirty || password.touched ) ">
            <small *ngIf="password.errors['required']" class="block">Mật khẩu không được để trống</small>
            <small *ngIf="password.errors['minlength']" class="block">Mật khẩu phải từ 6 ký tự trở lên</small>
            <small *ngIf="password.errors['maxlength']" class="block">Mật khẩu phải nhỏ hơn 64 ký tự</small>
            <small *ngIf="password.errors['pattern']" class="block">Mật khẩu không được bắt đầu hoặc kết thúc bằng khoảng trống</small>
          </span>
        </div>
        <div class="field col">
          <span class="p-float-label">
            <p-button icon="pi {{typePass === 'password' ? 'pi-eye' : 'pi-eye-slash'}}" (onClick)="toggleMaskPass()"
              class="mark-pass"></p-button>
            <input id="passwordConfirmation" role="presentation" autocomplete="new-password" type="{{typePass}}"
              pInputText formControlName="passwordConfirmation" class="pr-5">
            <label for="passwordConfirmation">
              Nhập lại mật khẩu
              <span class="p-error">*</span>
            </label>
          </span>
          <span class="p-error"
            *ngIf="passwordConfirmation.errors && (passwordConfirmation.dirty || passwordConfirmation.touched ) ">
            <small *ngIf="passwordConfirmation.errors['required'] || passwordConfirmation.errors['mustMatch']">Nhập lại
              mật khẩu không khớp</small>
          </span>
        </div>
        <div class="col-fixed" style="width:150px">
          <p-button styleClass="blue custom-button" label="Tạo mật khẩu" (onClick)="generatePassword()"></p-button>
        </div>
      </div>
    </div>
  </form>
</app-dialog-content>

<app-dialog-footer (onSave)="save()" [isOnSaveContinue]="false" (onClose)="close()" [disabledSave]="mutation?.invalid">
</app-dialog-footer>

<p-confirmDialog icon="pi pi-info-circle" [closable]="false" class="confirmDialog" [header]="'Thông báo hệ thống'"
  [style]="{width: '90vw', 'max-width': '500px'}"></p-confirmDialog>