.mark-pass {
  position: absolute;
  top: 0;
  right: 0;
  ::ng-deep {
    .p-button {
      padding-bottom: 0.4rem !important;
      border: none;
      background-color: transparent;
      color: #6c757d;
    }
  }
}
.p-float-label.small label {
  margin-top: -1.2rem;
  font-size: 13px;
}
.confirmDialog {
  ::ng-deep {
    .p-confirm-dialog .p-dialog-content{
      padding-left: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
}