::ng-deep {
    .report-chart .p-card-title {
        color: #52347f;
    }
    .table-data-row {
        border-bottom: 1px solid #eee;
    }
    .table-data {
        border-collapse: collapse;
    }
    .table-data td {
        padding: 10px 20px;
        border-right: 1px solid #ccc;
    }
    .btn-chart-download .p-button {
        background-color: transparent !important;
        color: #52347f!important;
        border: none!important;
    
    }
    p-chart canvas {
        background-color: #fff;
    }    
}