.content-box {
  min-height: 250px;
}
.table {
  border-spacing: 0;

  tr {
    th {
      padding: 5px 0;
    }
    td {
      padding: 5px 15px;
      border: none;

      .box {
        text-decoration: none;

        .icon {
          width: 14px;
          height: 14px;
          object-fit: cover;
          border-radius: 50%;
        }

        .content {
          word-break: break-word;
          -webkit-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          word-wrap: break-word;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          display: -webkit-box;
          overflow: hidden;
          color: #495057;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }
      }

    }

    &.odd {
      td {
        background-color: #fff;
      }
    }

    &.even {
      td {
        background-color: #fafafa;
      }
    }
  }
}