<!-- <m-reportToolbar (onSearch)="onSearch($event)"></m-reportToolbar> -->
<div class="grid">
  <div class="col-12 md:col-4">
    <!-- <app-discuss-rate></app-discuss-rate> -->
  </div>
  <div class="col-12 md:col-4">
    <!-- <app-discuss-trend></app-discuss-trend> -->
  </div>
  <div class="col-12 md:col-4">
    <!-- <app-smooth-line-sentiment></app-smooth-line-sentiment> -->
  </div>
  <div class="col-12 md:col-7">
    <div class="grid">
      <div class="col-12 md:col-6">
        <!-- <app-top-social-interact></app-top-social-interact> -->
      </div>
      <div class="col-12 md:col-6">
        <!-- <app-top-website-interact></app-top-website-interact> -->
      </div>
    </div>
  </div>
  <div class="col-12 md:col-5">
    <!-- <app-tags-sentiment></app-tags-sentiment> -->
  </div>
</div>